# Ignore TeX / LaTeX from language stats
*.tex linguist-detectable=false
*.sty linguist-detectable=false
*.cls linguist-detectable=false
*.bib linguist-detectable=false
*.bst linguist-detectable=false

# Optional: mark as documentation instead
# *.tex linguist-documentation=true
# *.sty linguist-documentation=true
