# Force TeX out of stats
*.tex linguist-vendored=true
*.sty linguist-vendored=true
*.cls linguist-vendored=true
*.bib linguist-vendored=true
*.bst linguist-vendored=true

# Treat HTML as documentation
*.html linguist-documentation=true
*.htm linguist-documentation=true
